@{
    ViewBag.Title = "Data Analyse";
    Layout = "_Layout";
}
<style>
    #data-container{
        display: flex;
        flex-direction: row;
        z-index: -1;
    }
    #barChart {
    /*height: 1000px;*/
    }
    canvas {
    }
    #onderaan{
    position: absolute;
    top: 40%;
    height: 50px;
    width: 100%;
    }
    #left {
    /*background-color: blue;*/
    min-width: 200px;
    overflow: auto;
    }
    #right {
    /*background-color: yellow;*/
    min-width: 50px;
    }
    .slideButton {
    position: relative;
    width: 200px;
    }
    h1{
    height: 100px;
    text-align: center;
    }
    
    /*laad symbool*/
    .loader {
    position: absolute;
    left: 28%;
    top: 100px;
    font-size: 50px;
    }
    .spinner {
      position: absolute;
      left: 30%;
      width: 70.4px;
      height: 70.4px;
      animation: spinner 1.6s infinite ease;
      transform-style: preserve-3d;
    }
        
    .spinner > div {
      background-color: rgb(247, 197, 159,.1);
      height: 100%;
      position: absolute;
      width: 100%;
      border: 3.5px solid rgb(247, 197, 159);
    }
    
    .spinner div:nth-of-type(1) {
      transform: translateZ(-35.2px) rotateY(180deg);
    }
    
    .spinner div:nth-of-type(2) {
      transform: rotateY(-270deg) translateX(50%);
      transform-origin: top right;
    }
    
    .spinner div:nth-of-type(3) {
      transform: rotateY(270deg) translateX(-50%);
      transform-origin: center left;
    }
    
    .spinner div:nth-of-type(4) {
      transform: rotateX(90deg) translateY(-50%);
      transform-origin: top center;
    }
    
    .spinner div:nth-of-type(5) {
      transform: rotateX(-90deg) translateY(50%);
      transform-origin: bottom center;
    }
    
    .spinner div:nth-of-type(6) {
      transform: translateZ(35.2px);
    }
    
    @@keyframes spinner {
      0% {
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
      }
    
      50% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
      }
    
      100% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
      }
    }
</style>
<h2 id="title">@ViewBag.Title</h2>
<div id="onderaan"></div>
<div id="data-container">
    <div id="left"></div>
    <canvas id="barChart"></canvas>
    <div id="right"></div>
</div>

@section scripts 
{
    <script src="~/dist/answers.entry.js" defer></script>
}