@{
    ViewBag.Title = "Data Analyse";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<button id="download-csv-button">Download CSV</button>
<h1 id="title"></h1>
<div id="search-container">
    <input type="text" id="search-input" placeholder="Search question...">
    <button id="search-button">Search</button>
</div>
<div id="onderaan"></div>
<div id="session-container">
    <p>Most recent session</p>
    <div id="sessions"></div>
</div>
<div id="data-container">
    <div id="left"></div>
    <canvas id="barChart"></canvas>
</div>
<div id="display"></div>

@section scripts
{
    <script src="~/dist/answers.entry.js" defer></script>
    <link rel="stylesheet" href="~/dist/src_scss_dataAnalyse_scss.css">
}