@{
    ViewBag.Title = "Data Analyse";
    Layout = "_Layout";
}
<style>
    body {
        overflow-x: hidden; /* Prevent horizontal scrolling */
    }
    
    .AnswerFromSession > div{
    display: flex;
    flex-direction: column;
    border: solid black;
    height: fit-content;
    }
    
    #data-container{
        display: flex;
        flex-direction: row;
        z-index: -1;
        max-width: 100%; /* Ensure it doesn't overflow the viewport */
    }
    
    #barChart {
        border: solid black;
        max-width: calc(100% - 250px); /* Adjust according to the width of #left and #right */
        flex-grow: 1;
    }

    #onderaan {
        position: absolute;
        top: 40vh;
        height: 50px;
        width: 100%;
    }

    #left {
        border: solid;
        border-radius: 10px;
        background-color: #ffa405;
        min-width: 200px;
        max-width: 200px; /* Ensure it has a fixed width */
        overflow: auto;
    }

    #sessions {
    display: flex;
    flex-direction: row;
        min-width: 50px;
        max-width: 100vw; /* Ensure it has a fixed width */
    }
    .sessionButton.active {
        background-color: #4CAF50; /* Green */
        color: white;
    }
    .sessionButton {
    
    }
    #sessions > div:nth-of-type(1) > button {
        background-color : red;
        border: solid black;
        border-radius: 5px;
    }
    
    #display {
    height: 100vh;
    }

    .slideButton {
        position: relative;
        width: 200px;
    }

    h1 {
        /*height: 100px;*/
        text-align: center;
    }
    
    /* Loading symbol */
    .loader {
        position: absolute;
        left: 28vw;
        top: 100px;
        font-size: 50px;
    }

    .spinner {
        position: absolute;
        left: 30%;
        width: 70.4px;
        height: 70.4px;
        animation: spinner 1.6s infinite ease;
        transform-style: preserve-3d;
    }
        
    .spinner > div {
        background-color: rgba(247, 197, 159, 0.1);
        height: 100%;
        position: absolute;
        width: 100%;
        border: 3.5px solid rgb(247, 197, 159);
    }

    .spinner div:nth-of-type(1) {
        transform: translateZ(-35.2px) rotateY(180deg);
    }

    .spinner div:nth-of-type(2) {
        transform: rotateY(-270deg) translateX(50%);
        transform-origin: top right;
    }

    .spinner div:nth-of-type(3) {
        transform: rotateY(270deg) translateX(-50%);
        transform-origin: center left;
    }

    .spinner div:nth-of-type(4) {
        transform: rotateX(90deg) translateY(-50%);
        transform-origin: top center;
    }

    .spinner div:nth-of-type(5) {
        transform: rotateX(-90deg) translateY(50%);
        transform-origin: bottom center;
    }

    .spinner div:nth-of-type(6) {
        transform: translateZ(35.2px);
    }

    @@keyframes spinner {
        0% {
            transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
        }

        50% {
            transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
        }

        100% {
            transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
        }
    }
</style>

<h2 id="title">@ViewBag.Title</h2>
<div id="onderaan"></div>
<div id="session-container">
    <p>Most recent session (red)</p>
    <div id="sessions"></div>
</div>
<div id="data-container">
    <div id="left"></div>
    <canvas id="barChart"></canvas>
</div>
<div id="display"></div>

@section scripts
{
    <script src="~/dist/answers.entry.js" defer></script>
}