// Achtergrondgradiënt van zwart naar donkergrijs
.page-container {
  background: linear-gradient(to bottom, black, darkgrey);
  color: white; // Tekstkleur instellen op wit

  // Optioneel: overgangseffect toevoegen voor soepele overgangen
  transition: background-color 0.5s, color 0.5s;

  // Stijlen voor specifieke elementen binnen de paginacontainer
  h1, p, label {
    font-weight: bold;
  }
  
}
