.page-container {
  background-color: white; // Achtergrondkleur instellen op zwart
  color: black; // Tekstkleur instellen op wit

  // Optioneel: overgangseffect toevoegen voor soepele overgangen
  transition: background-color 0.5s, color 0.5s;

  // Optioneel: stijlen voor specifieke elementen binnen de paginacontainer
  h1, p, label {
    font-weight: bold;
  }
}

