$light-background: #f2f2f2;
$light-text-color: black;
$dark-background: black;
$dark-text-color: white;

.page-container {
  transition: background-color 0.5s, color 0.5s;

  &.light-theme {
    background-color: $light-background;
    color: $light-text-color;

    h1, p {
      font-weight: bold;
    }
  }
  
  &.dark-theme {
    background-color: $dark-background;
    color: $dark-text-color;

    h1, label {
      font-weight: bold;
    }
  }
}

.slide-container {
  transition: background-color 0.5s, color 0.5s;

  &.light-theme {
    background-color: $light-background;
    color: $light-text-color;
  }

  &.dark-theme {
    background-color: $dark-background;
    color: $dark-text-color;
  }
}

html {
  font-size: 14px;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header {
  a {
    img {
      width: 100px;
    }
  }
}

.slider-container {
  width: 100%;
  margin-top: 10px;

  .slider {
    width: calc(100%);
    margin-top: 20px;
    height: 25-px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      background: #2196F3;
      cursor: pointer;
      border-radius: 50%;
    }
  }

  .tickmark-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 60px;
  }
}

.slide-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  border: 2px solid black;
  border-radius: 15px;

  .question {
    font-size: 20px;
    margin-bottom: 20px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 5px;
  }

  #skipSlide,
  #submitAnswer {
    margin-top: 20px;
    color: white;
    font-weight: bold;
    padding: 10px 20px; 
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
  }

  #skipSlide {
    background-color: navy;
  }

  #submitAnswer {
    color: white;
    background-color: darkgreen;
  }

  #submitAnswer:hover {
    color: white;
    background-color: green; 
  }

  #skipSlide:hover {
    color: white;
    background-color: blue;
  }

  #changeSubtheme {
    background-color: navy;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 10px; 
    width: 100px; 
    height: 80px;
    top: 24px; 
    right: 12px; 
    position: absolute;
  }

  .subtheme-container {
    height: 80px;
  }
  
}
