$tile-color: #9e75fa;
$tile-hover-scale: 1.1;
$tile-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

.homeBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  margin: 0;

}

.scene {
  width: 180px;
  height: 180px;
  perspective: 600px;
  margin-top: 60px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(-45deg);
  animation: rotate 8s infinite linear;
}

.mt-10 {
  margin-top: 5rem;
}

.face {
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: $tile-color;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #fff;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  box-sizing: border-box;
}

.grid-face {
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: $tile-color;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: stretch;
  align-items: stretch;
  cursor: pointer;
  border: 1px solid #fff;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  box-sizing: border-box;
}

.front {
  transform: translateZ(89px);
}

.back {
  transform: rotateY(180deg) translateZ(89px);
}

.left {
  transform: rotateY(-90deg) translateZ(89px);
}

.right {
  transform: rotateY(90deg) translateZ(89px);
}

.top {
  transform: rotateX(90deg) translateZ(89px);

  img {
    width: 100%;
  }
}

.bottom {
  transform: rotateX(-90deg) translateZ(89px);
}

@keyframes rotate {
  from {
    transform: rotateX(-30deg) rotateY(-45deg);
  }
  to {
    transform: rotateX(-30deg) rotateY(315deg);
  }
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: #9e75fa;
}

.grid-item {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.empty-div, .icon-div {
  display: grid;
  background-color: $tile-color;
  color: white;
  border: 1px solid white;
}

.select-div {
  display: grid;
  background-color: blue;
  color: white;
  border: 1px solid white;
}

.ok-div {
  display: grid;
  background-color: green;
  color: white;
  border: 1px solid white;
}

html {
  font-size: 14px;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}


#searchInput {
  width: 100%;
  max-width: 600px;
}

.card {
  width: 100%;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header {
  a {
    img {
      max-height: 45px;
    }
  }
}

.slider-container {
  width: 100%;
  margin-top: 10px;

  .slider {
    width: calc(100%);
    margin-top: 20px;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      background: #2196F3;
      cursor: pointer;
      border-radius: 50%;
    }
  }

  .tickmark-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 60px;
  }
}

.slide-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  border: 2px solid black;
  border-radius: 15px;

  .question {
    font-size: 20px;
    margin-bottom: 20px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 5px;
  }

  #skipSlide,
  #submitAnswer {
    margin-top: 20px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  #skipSlide {
    background-color: navy;
  }

  #submitAnswer {
    color: white;
    background-color: darkgreen;
  }

  #submitAnswer:hover {
    color: white;
    background-color: green;
  }

  #skipSlide:hover {
    color: white;
    background-color: blue;
  }

  #changeSubtheme {
    background-color: navy;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 80px;
    top: 24px;
    right: 12px;
    position: absolute;
  }

  .subtheme-container {
    height: 80px;
  }
}

.subtheme-rectangle {
  width: calc(100% - 20px);
  height: 50px;
  background-color: #1a5276;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;

}


.flow-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-decoration: none;

  &:hover {
    background-color: #e9ecef;
  }

  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: #0056b3;
    }
  }
}

.flow-card {
  width: 65%;
}

.btn-danger {
  font-size: 18px;
}

.card-flowdetails {
  border: 3px solid #ccc;
  border-radius: 8px;
}


.subtheme-rectangle {
  width: calc(100% - 20px);
  height: 50px;
  background-color: #1a5276;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.flowType {
  font-weight: bold;
  font-style: italic;
}

.timer {
  color: red;
  border: 3px solid red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

.scrollableDiv {
  height: 200px;
  overflow-y: scroll;
}

.slideImage {
  max-width: 320px;
  height: auto;
}
