@{
    ViewBag.Title = "title";
    Layout = "_GeneralLayout";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">Thank you for going through the flow.</h2>
                    <p class="card-text">If you want to leave your information, please scan the QR code below:</p>
                    <div id="qrCode"></div>
                    <div id="qrCodeData" data-url="@Url.Action("ContactInfo", "Contactinfo")"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/dist/contactRedirect.entry.js" defer></script>
    <script type="text/javascript" src="~/lib/davidshimjs-qrcodejs-04f46c6/qrcode.js"></script>
    <script type="text/javascript" src="~/dist/qr.entry.js"></script>
    <script src="~/dist/generateContactInfoUrl.entry.js"></script>
}