@{
    ViewBag.Title = "InfoSlide";
}

@section Scripts
{
    
}

<div id="slide">
    
    <a class="btn btn-primary" type="button" asp-area="" asp-controller="Flow" asp-action="">Next Slide</a>
</div>