@{
    ViewBag.Title = "MultipleChoice";
}
@using Domain
@model List<Domain.Slide>
@section Scripts
{
    <script src="~/dist/singlechoice.entry.js" defer></script>
}

<h2>All Single questions</h2>

<table class="table">
    <thead>
    <tr>
        <th>Text</th>
        <th>Answers</th>
        <th>IsMultipleChoice</th>
        <th></th>
    </tr>
    </thead>
    @* TODO: Uncomment this code when the model is fixed 
    <tbody id="MultipleQuestionTableBody">
        @foreach (ListQuestion listQuestion in Model)
        {
            <tr>
                <td>@listQuestion.Text</td>
                <td>
                    <ul>
                        @foreach (var answer in listQuestion.AnswerList)
                        {
                            <li>@answer</li>
                        }
                    </ul>
                </td>
                <td>@listQuestion.IsMultipleChoice</td>
            </tr>
        }
    </tbody>*@
</table>

<div id="slide">
    <a class="btn btn-primary" type="button" asp-area="" asp-controller="Flow" asp-action="" id="nextButton">Next Slide</a>
</div>
