@model List<FlowModel>

@{
    Layout = "_GeneralLayout";
}

@section Scripts
{
    <script src="~/dist/initializeinstallation.entry.js" defer></script>
}

<div id="mainDiv" class="container">
    <h1 class="mt-5">Choose a Flow!</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Project</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flow in Model)
            {
                <tr>
                    <td>@flow.Id</td>
                    <td>@flow.Name</td>
                    <td>@flow.Project.Title</td>
                    <td>
                        <form asp-action="SetFlowForInstallation" method="post">
                            <input type="hidden" name="Id" value="@flow.Id" />
                            <button type="submit" class="btn btn-primary">Choose Flow</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
