@section Scripts
{
    <script src="~/dist/startslide.entry.js" defer></script>
}

<div>
    <h1>Welcome to the Linear Flow</h1>
    <div id="slide">
        
    </div>
    <a id="nextSlide" class="btn btn-primary" type="button">Start Flow</a>
</div>