

@model FlowModel

<div id="page" data-script="@Url.Content("~/dist/flow.entry.js")">
    @await Html.PartialAsync(Model.PartialPages[Model.CurrentCondition])
</div>


@if (ViewBag.ScriptUrl != null)
{
    <script src="@Url.Content(ViewBag.ScriptUrl)"></script>
}




