@section Scripts
{
    <script src="~/dist/startslide.entry.js" defer></script>
}

<div class="slide-container">
    <h1 class="info-text">Welcome to the Circular Flow! </h1>
    <div id="slide" class="question"></div>
    <a id="skipSlide" class="btn btn-primary" type="button">Start Flow</a>
</div>


