@model AnswerCube.UI.MVC.Controllers.Api.BeheerderController

@{
    ViewBag.Title = "title";
}


<style>
    /* Basic styling for the header */
    header {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
        text-align: center;
    }

    /* Logo styling */
    .logo {
        float: left;
        margin-left: 20px;
    }

    /* Links container */
    .links {
        display: inline-block;
    }

    /* Link styling */
    .links a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
    }

    /* Right-aligned link */
    .right-link {
        float: right;
        margin-right: 20px;
    }

    .blok {
        background-color: #333;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section {
        height: 500px;
    }
</style>
<header>
    <!-- Logo on the left -->
    <div class="logo">
        <img src="logo.png" alt="Logo" width="100" height="100">
    </div>
    <!-- Links centered -->
    <div class="links">
        <a href="#">Projects</a>
        <a href="#">Supervisors</a>
    </div>
    <!-- Link on the far right -->
    <div class="right-link">
        <a href="#">Login</a>
    </div>
</header>
<h2>@ViewBag.Title</h2>
<div class="row justify-content-around section">
    <div class="blok col-4 h-100">
        @for (int i = 0; i < 3; i++) //TODO: de 3 veranderen naar een getFlows.length ofzo
        {
            <p>Flow @(i + 1)</p> //TODO: dit moeten links worden naar verschillende flows.
        }
        <div>
            <button>
                NEW FLOW
            </button>
        </div>
    </div>

    <div class="col-4 row">
        <div class="blok h-50">
            <h1>Active installations</h1>
            @for (int i = 0; i < 3; i++) //TODO: de 3 veranderen naar een getInstallations.length ofzo
                    {
                        <p>Flow @(i + 1)</p> //TODO: dit moeten links worden naar verschillende flows.
                    }
        </div>
        <div class="blok h-50 mt-1">
            <h1>Forum</h1> 
            @*reactions en Ideas*@
        </div>
    </div>
</div>