@{
    ViewBag.Title = "CircularFlow";
}

@model UI_MVC.Controllers.FlowController
@section Scripts
{
    <script src="~/dist/circularflow.entry.js" defer></script>
}

<div id="page">
    @await Html.PartialAsync(Model.PartialPages[Model.CurrentCondition])
</div>




