@model dynamic

@{
    ViewBag.Title = "Create Flow";
    Layout = "_Layout";
}

<div class="container">
    <h2>Create Slide</h2>

    <form id="slideForm" method="post" action="@Url.Action("AddSlide", "Flow")" >
        <div class="form-group">
            <label for="slideType">Slide Type:</label>
            <select id="slideType" name="slideType" class="form-control" >
                <option value="">Select a slide type</option>
                <option value="MultipleChoice">Multiple Choice</option>
                <option value="RangeQuestion">Range Question</option>
                <option value="SingleChoice">Single Choice</option>
                <option value="OpenQuestion">Open Question</option>
                <option value="InfoSlide">Info Slide</option>
            </select>
        </div>
        <div class="form-group">
            <label for="question">Question:</label>
            <input type="text" id="question" name="question" class="form-control">
        </div>
        <div id="answerOptions"></div>
        <div id="optionsButton" class="mb-3"></div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts {
    <script src="~/dist/createSlide.entry.js"></script> 
    <script src="https://kit.fontawesome.com/9ecbe616c3.js" crossorigin="anonymous"></script>
}