@{
    ViewBag.Title = "FlowLinear";
}

@section Scripts{
    <script src="~/dist/LinearFlow.entry.js"></script>
    <link rel="stylesheet" href="~/dist/site.css">
}

<div class="card card-custom">
    <div id="slide" class="card-body">
        <!-- Content goes here -->
    </div>
    <div class="modal-footer">
        <button id="next" class="btn btn-primary">Next</button>
        <button id="skip" class="btn btn-secondary">Skip</button>
    </div>
    <div id="progressBarContainer" class="card-body">
        <div id="progressBar" class="progress"></div>
    </div>
</div>