@{
    ViewBag.Title = "FlowLinear";
}

@section Scripts{
        <script src="~/dist/LinearFlow.entry.js"></script>
}
<div class="card">
    <div id="slide" class="card-body">
        Test
    </div>
    <button id="next" class="btn-primary">Next</button>
</div>
