@model AnswerCube.UI.MVC.Controllers.DTO_s.InfoDto
@{
    ViewBag.Title = "title";
}

<h3>Info over de vragen</h3>

<div class="card" style="width: 18rem; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
    <div class="card-body">
        <h5 class="card-title">@Model.Info.Question</h5>
        <p class="card-text">@Model.Info.Text</p>
    </div>
    <a class="btn btn-primary" type="button" asp-area="" asp-controller="Flow" asp-action="">Next Slide</a>
</div>