@{
    ViewBag.Title = "OpenQuestion";
}

@section Scripts
{
    <script src="~/dist/openquestion.entry.js" defer></script>
}

<div id="slide">
    <h1>OpenQuestion</h1>
    
    <a class="btn btn-primary" type="button" asp-area="" asp-controller="Flow" asp-action="">Next Slide</a>
</div>