@{
    ViewBag.Title = "StartSlide";
}

<div id="slide">
    <h1>Welcome to the Flow</h1>
    
    
    <a class="btn btn-primary" type="button" asp-area="" asp-controller="Flow" asp-action="">Start Flow</a>
</div>

