@{
    ViewBag.Title = "StartSlide";
}

@section Scripts
{
}

<div id="slide">
    <h1>Welcome to the Flow</h1>
    
    
    <a id="nextSlide" class="btn btn-primary" type="button">Start Flow</a>
</div>

