@model SlideCompositeModel


@{
    ViewBag.Title = "InfoSlide";
    Layout = ViewData["Layout"] as string;
}


<h1>InfoSlide</h1>
<div id="slide" class="info-text">
    <h3>@Model.SlideModel.Text</h3>
    @if (Model.SlideModel.MediaUrl != null)
    {
        // Check if mediaUrl exists
        // Extract the filename from the media URL
        var filename = Model.SlideModel.MediaUrl.Split('/').Last();
        // Extract the media type from the filename
        var mediaType = filename.Split('_')[0];
        // Default to "image" if the media type is not "video"
        if (mediaType == "video")
        {
            <video width="320" height="240" controls><source src="@Model.SlideModel.MediaUrl" type="video/mp4"> Your browser does not support the video tag.</video><br>
        }
        else if (mediaType == "image")
        {
            <img src="@Model.SlideModel.MediaUrl" alt="Slide Image">
        }
        else
        {
            <em>Unsupported media type</em>
        }
    }
</div>
<a id="skipSlide" class="btn btn-primary" type="button">Next Slide</a>


@section Scripts
{
    <script src="~/dist/infoslide.entry.js" defer></script>
}