@{
    ViewBag.Title = "InfoSlide";
    Layout = ViewData["Layout"] as string;
}

<div class="slide-container">
    <h1>InfoSlide</h1>
    <div id="slide" class="info-text">
        
    </div>
    <a id="skipSlide" class="btn btn-primary" type="button">Next Slide</a>
</div>

@section Scripts
{
    <script src="~/dist/infoslide.entry.js" defer></script>
}