@{
    ViewBag.Title = "InfoSlide";
}


<div id="slide" data-script="@Url.Content("~/dist/infoslide.entry.js")">
    <h1>InfoSlide</h1>
    
    <a id="nextSlide" class="btn btn-primary" type="button">Next Slide</a>
</div>


