@{
    ViewBag.Title = "MultipleChoice";
    Layout = ViewData["Layout"] as string;
}

@section Scripts
{
    <script src="~/dist/multiplechoice.entry.js" defer></script>
}
<div>
    <h1>MultipleChoice</h1>
    <div id="slide">

    </div>
    <a id="nextSlide" class="btn btn-primary" type="button">Next Slide</a>
</div>

