@{
    ViewBag.Title = "MultipleChoice";
    Layout = ViewData["Layout"] as string;
}

<div class="slide-container">
    <h1 class="question">Multiple Choice</h1>
    <div id="slide">
       
    </div>
    <button id="submitAnswer" type="button">Submit Answer</button>
    <button id="skipSlide" type="button">Skip</button>
</div>

@section Scripts
{
    <script src="~/dist/multiplechoice.entry.js" defer></script>
}

