@{
    ViewBag.Title = "OpenQuestion";
    Layout = ViewData["Layout"] as string;
}

<div class="container mt-5">
    <div class="slide-container border p-4 rounded position-relative">
        <div class=" subtheme-container d-flex justify-content-center align-items-center bg-light p-3 mb-3 w-100">
            <span class="font-weight-bold h3 mb-0">Subtheme - XXX</span>
        </div>
        <a href="@Url.Action("Subthemes", "CircularFlow")" id="changeSubtheme" class="btn btn-primary font-weight-bold position-absolute" style="top: 10px; right: 10px;">
            Change Subtheme
        </a>
        <div id="slide" class="question"></div>
        <button id="submitAnswer" type="button">Submit Answer</button>
        <button id="skipSlide" type="button">Skip</button>
    </div>
</div>

@section Scripts
{
    <script src="~/dist/openquestion.entry.js" defer></script>
}
