@{
    ViewBag.Title = "OpenQuestion";
}

<div id="slide" data-script="@Url.Content("~/dist/openquestion.entry.js")">
    <h1>OpenQuestion</h1>
    
    <a id="nextSlide" class="btn btn-primary" type="button">Next Slide</a>
</div>

