@{
    ViewBag.Title = "RangeQuestion";
    Layout = ViewData["Layout"] as string;
}


<div class="slide-container">
    <h1 class="question">Range Question</h1>
    <div id="slide" class="card-body">
        <!-- Inhoud van de dia -->
    </div>
    <div class="modal-footer">
        <div class="centered-content">
            <div class="answers-container"></div>
        </div>
        <div class="slider-container">
            <input type="range" id="slider" class="slider custom-slider" list="tickmarks" step="1" min="0" max="100"/>
            <datalist id="tickmarks"></datalist>
            <div class="tickmark-labels"></div>
        </div>
    </div>
    <button id="submitAnswer" type="button">Submit Answer</button>
    <button id="skipSlide" type="button">Skip</button>
</div>

@section Scripts
{
    <script src="~/dist/RangeQuestion.entry.js" defer></script>
}
