@{
    ViewBag.Title = "RangeQuestion";
    Layout = ViewData["Layout"] as string;
}

@section Scripts
{
    <script src="~/dist/rangequestion.entry.js" defer></script>
}


<div>
    <h1>RangeQuestion</h1>
    <div id="slide">
        
    </div>
    <a id="nextSlide" class="btn btn-primary" type="button">Next Slide</a>
</div>