@{
    ViewBag.Title = "RangeQuestion";
    Layout = ViewData["Layout"] as string;
}

@section Scripts
{
    <script src="~/dist/rangequestion.entry.js" defer></script>
}


<div>
    <h1>RangeQuestion</h1>
    <div id="slide">
        
    </div>
    <a id="submitAnswer" class="btn btn-primary" type="button">Submit Answer</a>
    <a id="skipSlide" class="btn btn-secondary" type="button">Skip</a>
</div>