@{
    ViewBag.Title = "MultipleChoice";
}


<div id="slide" data-script="@Url.Content("~/dist/singlechoice.entry.js")">
    <h1>SingleChoice</h1>
    
    <a id="nextSlide" class="btn btn-primary" type="button">Next Slide</a>
</div>


