@{
    ViewBag.Title = "SingleChoice";
    Layout = ViewData["Layout"] as string;
}

@section Scripts
{
    <script src="~/dist/singlechoice.entry.js" defer></script>
    
}

<div class="slide-container">
    <h1 class="question">Single Choice</h1>
    <div id="slide" class="question"></div>
    <div class="answer-list">
        
    </div>
    <button id="submitAnswer" type="button">Submit Answer</button>
    <button id="skipSlide" type="button">Skip</button>
</div>