@{
    ViewBag.Title = "MultipleChoice";
    Layout = ViewData["Layout"] as string;
}

@section Scripts
{
    <script src="~/dist/singlechoice.entry.js" defer></script>
}

<div id="slide">
    <h1>SingleChoice</h1>
    
    <a id="nextSlide" class="btn btn-primary" type="button">Next Slide</a>
</div>


