@{
    ViewBag.Title = "SingleChoice";
    Layout = ViewData["Layout"] as string;
}

@section Scripts
{
    <script src="~/dist/singlechoice.entry.js" defer></script>
}

<div class="container mt-5">
    <div class="slide-container border p-4 rounded position-relative">
        <div class=" subtheme-container d-flex justify-content-center align-items-center bg-light p-3 mb-3 w-100">
            <span class="font-weight-bold h3 mb-0">Subtheme - XXX</span>
        </div>
        <a href="@Url.Action("Subthemes", "CircularFlow")" id="changeSubtheme" class="btn btn-primary font-weight-bold position-absolute" >
        Change Subtheme
        </a>
        <h1 class="question">Single Choice</h1>
        <div id="slide" class="question"></div>
        <div class="answer-list">
            
        </div>
        <button id="submitAnswer" type="button">Submit Answer</button>
        <button id="skipSlide" type="button">Skip</button>
        </div>
</div>