@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Personal Identification Information</h2>
<p>We may collect personal identification information from users in a variety of ways, including, but not limited to, when users visit our forum, register on the forum, and in connection with other activities, services, features or resources we make available on our forum.</p>

<h2>Non-Personal Identification Information</h2>
<p>We may collect non-personal identification information about users whenever they interact with our forum. Non-personal identification information may include the browser name, the type of computer and technical information about users' means of connection to our forum, such as the operating system and the Internet service providers utilized and other similar information.</p>

<h2>Web Browser Cookies</h2>
<p>Our forum may use "cookies" to enhance user experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. Users may choose to set their web browser to refuse cookies, or to alert them when cookies are being sent.</p>

<h2>How We Use Collected Information</h2>
<p>The forum may collect and use users' personal information for the following purposes: to run and operate our forum, to improve customer service, to personalize user experience, to improve our forum, to run a promotion, contest, survey or other forum feature, to send users information they agreed to receive about topics we think will be of interest to them.</p>

<h2>How We Protect Your Information</h2>
<p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our forum.</p>

<h2>Sharing Your Personal Information</h2>
<p>We do not sell, trade, or rent users' personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.</p>

<h2>Changes to This Privacy Policy</h2>
<p>The forum has the discretion to update this privacy policy at any time. When we do, we will post a notification on the main page of our forum. We encourage users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect.</p>

<h2>Your Acceptance of These Terms</h2>
<p>By using this forum, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our forum. Your continued use of the forum following the posting of changes to this policy will be deemed your acceptance of those changes.</p>